In [97]:
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import tqdm
import time

In [98]:
import pandas as pd
import glob

path = r'C:\Users\Jignasu\Documents\Virginia tech\fall22\aml\Project_google_API\googleapi\extracted_data' # use your path
all_files = glob.glob(path + "\*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [99]:
frame.shape

(561084, 11)

In [133]:
official_report = pd.read_csv('official_reports.csv')

In [134]:
official_report.shape

(7974, 5)

In [11]:
stocks = pd.read_csv('data/stock_price_yahoo/AMZN.csv')

In [13]:
stocks.shape

(6407, 7)

# Converting strings into dates

In [17]:
stocks.head(1)

         Date      Open   High       Low     Close  Adj Close      Volume
0  1997-05-15  0.121875  0.125  0.096354  0.097917   0.097917  1443120000

In [20]:
print(type(stocks['Date'][0]))

<class 'str'>

In [21]:
stocks['Date'] =  pd.to_datetime(stocks['Date'], format='%Y-%m-%d')

In [22]:
stocks.head(1)

        Date      Open   High       Low     Close  Adj Close      Volume
0 1997-05-15  0.121875  0.125  0.096354  0.097917   0.097917  1443120000

In [23]:
print(type(stocks['Date'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [24]:
official_report.head(1)

,Unnamed: 0,date,unit,fp,val
0,0,2009-07-24,"Accounts Receivable, after Allowance for Credi...",Q2,1.0

In [135]:
print(type(official_report['date'][0]))

<class 'str'>

In [136]:
official_report['date'] =  pd.to_datetime(official_report['date'], format='%Y-%m-%d')

In [137]:
print(type(official_report['date'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [28]:
frame.head(1)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive
0,0,1079112163464278016,2018-12-29 20:29:23+00:00,New Author Earnings Report Indicates Massive #...,0,0,0,0,0.036704,0.464377,0.498919

In [29]:
print(type(frame['date'][0]))

<class 'str'>

In [100]:
frame['date'] =  pd.to_datetime(frame['date'], format='%Y-%m-%d')

In [101]:
print(type(frame['date'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [6]:
frame.head(1)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive
0,0,1079112163464278016,2018-12-29 20:29:23+00:00,New Author Earnings Report Indicates Massive #...,0,0,0,0,0.036704,0.464377,0.498919

# Playing with dates

In [33]:
from datetime import datetime
date_temp = datetime.strptime("2010-07-23", '%Y-%m-%d')
print(date_temp)

2010-07-23 00:00:00

In [44]:
#sort twitter dataframe by dates
twitter_df_sorted = frame.sort_values(by=['date'], ascending=True)

In [36]:
twitter_df_sorted.head(100)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive
56800,12335,681306682069135360,2015-12-28 02:52:25+00:00,November's Strong Jobs Report Says That The Fe...,0,0,0,0,0.004994,0.184592,0.810414
56799,12334,681418163473510401,2015-12-28 10:15:24+00:00,Breaking News: Report That #Amazon to Launch I...,0,1,0,0,0.017082,0.763099,0.219820
56801,12336,681467242861740032,2015-12-28 13:30:26+00:00,Report: #Amazon In Talks To Lease Delivery Jet...,0,0,0,0,0.008388,0.493115,0.498497
56794,12329,681691478859628545,2015-12-29 04:21:28+00:00,#Amazon #holiday report on #consumer spending:...,0,0,0,0,0.007700,0.441321,0.550979
56796,12331,681702284523249665,2015-12-29 05:04:24+00:00,What #Amazon 's #Holiday Report Reveals About ...,0,0,0,0,0.076102,0.687611,0.236288
...,...,...,...,...,...,...,...,...,...,...,...
56708,12243,687740690013503489,2016-01-14 20:58:52+00:00,RT StarkAndStark #NewJersey #Amazon Plant Fine...,0,0,0,0,0.567438,0.397868,0.034694
56710,12245,687745694594117632,2016-01-14 21:18:45+00:00,RT @StarkAndStark: #NewJersey #Amazon Plant Fi...,1,0,0,0,0.538632,0.423098,0.038270
56707,12242,687749801631428609,2016-01-14 21:35:05+00:00,New Jersey Amazon Plant Fined for Neglecting t...,0,0,0,0,0.446631,0.501642,0.051727
56703,12238,687947024650600448,2016-01-15 10:38:46+00:00,RT @Highstreet_io: Check out this great report...,1,0,0,0,0.001673,0.055560,0.942767
56698,12233,688030100714078208,2016-01-15 16:08:53+00:00,Download our free report --&gt; #Amazon #EC2 I...,1,0,0,0,0.011247,0.691071,0.297682

In [57]:
sample_twitter_df = pd.DataFrame()

In [58]:
sample_twitter_df = twitter_df_sorted.tail(2000)

In [59]:
sample_twitter_df.shape

(2000, 11)

In [60]:
#making sure it is sorted as well
sample_twitter_df.tail(200)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive
559530,95,1584927285903228929,2022-10-25 15:18:06+00:00,RT @ClimateTipPoint: In this new report from @...,5,0,0,0,0.417184,0.517662,0.065154
560081,95,1584927285903228929,2022-10-25 15:18:06+00:00,RT @ClimateTipPoint: In this new report from @...,5,0,0,0,0.417184,0.517662,0.065154
560080,94,1584927592708476929,2022-10-25 15:19:19+00:00,RT @ClimateTipPoint: In this new report from @...,5,0,0,0,0.417184,0.517662,0.065154
559529,94,1584927592708476929,2022-10-25 15:19:19+00:00,RT @ClimateTipPoint: In this new report from @...,5,0,0,0,0.417184,0.517662,0.065154
559533,98,1584928055419887617,2022-10-25 15:21:09+00:00,RT @ClimateTipPoint: In this new report from @...,5,0,0,0,0.417184,0.517662,0.065154
...,...,...,...,...,...,...,...,...,...,...,...
559437,2,1586782255988473856,2022-10-30 18:09:05+00:00,@Channel4News report from #Brasil - come on @L...,0,0,0,0,0.627332,0.289697,0.082972
559987,1,1586827411630465030,2022-10-30 21:08:31+00:00,Content analysis:\nThis article scores 80/100....,0,0,0,0,0.030669,0.431134,0.538197
559436,1,1586827411630465030,2022-10-30 21:08:31+00:00,Content analysis:\nThis article scores 80/100....,0,0,0,0,0.030669,0.431134,0.538197
559986,0,1586844673208885249,2022-10-30 22:17:06+00:00,Content analysis:\nThis article scores 83/100....,0,0,0,0,0.059615,0.546852,0.393533
559435,0,1586844673208885249,2022-10-30 22:17:06+00:00,Content analysis:\nThis article scores 83/100....,0,0,0,0,0.059615,0.546852,0.393533

In [61]:
#removing duplcates
sample_twitter_df = sample_twitter_df.drop_duplicates(subset = ['date', 'text'],keep = 'last').reset_index(drop = True)

In [62]:
sample_twitter_df.shape

(1262, 11)

In [63]:
sample_twitter_df.head(100)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive
0,176,1560378885774229504,2022-08-18 21:31:31+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,0.002239,0.047597,0.950164
1,174,1560381877508362242,2022-08-18 21:43:24+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,0.002239,0.047597,0.950164
2,173,1560405547471343618,2022-08-18 23:17:28+00:00,Report outlines emerging technologies to impro...,0,0,2,0,0.004695,0.481486,0.513819
3,172,1560420323161432064,2022-08-19 00:16:10+00:00,The report anticipates that third-party sales ...,0,0,0,0,0.002067,0.122583,0.875351
4,170,1560440692962459649,2022-08-19 01:37:07+00:00,"RT @RichardILevine: ""Levine offers a solidly c...",1,0,0,0,0.002239,0.047597,0.950164
...,...,...,...,...,...,...,...,...,...,...,...
95,82,1562581320076632065,2022-08-24 23:23:12+00:00,The Starr-Weiner Report on Sex and Sexuality i...,0,0,0,0,0.087780,0.882053,0.030168
96,78,1562652835468038146,2022-08-25 04:07:23+00:00,RT @ForUsNotAmazon: #Amazon released its annua...,9,0,0,0,0.064475,0.680288,0.255237
97,79,1562655098035388416,2022-08-25 04:16:22+00:00,#Lyft Joins The Likes Of #Amazon To #Sublease ...,0,0,0,0,0.023360,0.658683,0.317957
98,71,1562695216498282497,2022-08-25 06:55:47+00:00,Check out this article: Amazon will shut down ...,0,0,1,0,0.390658,0.511643,0.097699
99,77,1562737351834488833,2022-08-25 09:43:13+00:00,"How to Write a Simple Report, Grades 1-3 via @...",0,0,0,0,0.017156,0.855811,0.127033

In [64]:
#Wrong way to get unique dates it also sees time stamp
# unique_dates_wrong = list(sample_twitter_df["date"].unique())

In [65]:
#just seesthe date
unique_dates = sample_twitter_df["date"].map(pd.Timestamp.date).unique()

In [66]:
print(len(unique_dates))
# print(len(unique_dates_wrong))

74

In [67]:
print(type(unique_dates[0]))

<class 'datetime.date'>

In [68]:
unique_dates.sort()

In [69]:
print(unique_dates)

[datetime.date(2022, 8, 18) datetime.date(2022, 8, 19)
 datetime.date(2022, 8, 20) datetime.date(2022, 8, 21)
 datetime.date(2022, 8, 22) datetime.date(2022, 8, 23)
 datetime.date(2022, 8, 24) datetime.date(2022, 8, 25)
 datetime.date(2022, 8, 26) datetime.date(2022, 8, 27)
 datetime.date(2022, 8, 28) datetime.date(2022, 8, 29)
 datetime.date(2022, 8, 30) datetime.date(2022, 8, 31)
 datetime.date(2022, 9, 1) datetime.date(2022, 9, 2)
 datetime.date(2022, 9, 3) datetime.date(2022, 9, 4)
 datetime.date(2022, 9, 5) datetime.date(2022, 9, 6)
 datetime.date(2022, 9, 7) datetime.date(2022, 9, 8)
 datetime.date(2022, 9, 9) datetime.date(2022, 9, 10)
 datetime.date(2022, 9, 11) datetime.date(2022, 9, 12)
 datetime.date(2022, 9, 13) datetime.date(2022, 9, 14)
 datetime.date(2022, 9, 15) datetime.date(2022, 9, 16)
 datetime.date(2022, 9, 17) datetime.date(2022, 9, 18)
 datetime.date(2022, 9, 19) datetime.date(2022, 9, 20)
 datetime.date(2022, 9, 21) datetime.date(2022, 9, 22)
 datetime.date(2022, 9, 23) datetime.date(2022, 9, 24)
 datetime.date(2022, 9, 25) datetime.date(2022, 9, 26)
 datetime.date(2022, 9, 27) datetime.date(2022, 9, 28)
 datetime.date(2022, 9, 29) datetime.date(2022, 9, 30)
 datetime.date(2022, 10, 1) datetime.date(2022, 10, 2)
 datetime.date(2022, 10, 3) datetime.date(2022, 10, 4)
 datetime.date(2022, 10, 5) datetime.date(2022, 10, 6)
 datetime.date(2022, 10, 7) datetime.date(2022, 10, 8)
 datetime.date(2022, 10, 9) datetime.date(2022, 10, 10)
 datetime.date(2022, 10, 11) datetime.date(2022, 10, 12)
 datetime.date(2022, 10, 13) datetime.date(2022, 10, 14)
 datetime.date(2022, 10, 15) datetime.date(2022, 10, 16)
 datetime.date(2022, 10, 17) datetime.date(2022, 10, 18)
 datetime.date(2022, 10, 19) datetime.date(2022, 10, 20)
 datetime.date(2022, 10, 21) datetime.date(2022, 10, 22)
 datetime.date(2022, 10, 23) datetime.date(2022, 10, 24)
 datetime.date(2022, 10, 25) datetime.date(2022, 10, 26)
 datetime.date(2022, 10, 27) datetime.date(2022, 10, 28)
 datetime.date(2022, 10, 29) datetime.date(2022, 10, 30)]

In [35]:
#Checking if the sort was successfull
for i in range(1, len(unique_dates)):
    if(unique_dates[i]<unique_dates[i-1]):
        print("Not sorted")

In [221]:
a = np.array([2,2,1,1,1])
b = np.array([1,1,1,1,1])
np.matmul(a, b)

7

In [222]:
weight_dict = {"retweet": 2, "reply": 2, "like": 1, "quote":1, "biase": 1}
weights = np.array(list(weight_dict.values()))

np.matmul(weights, b)

7

In [76]:
#Formula for weight of retweets and likes and comments
#weight by retweet = 2 x number of retweets
#weight by reply = 2 x number of replies
#weight by like = 1 x number of retweets
#weight by quote = 1 x number of retweets

weight_dict = {"retweet": 2, "reply": 2, "like": 1, "quote":1, "biase": 1}
weights = np.array(list(weight_dict.values()))

def get_weight(array):
    #input in form -> [retweets, replies, likes, quotes, biase]
    #We add one incase everything else is zero
    array = np.array(array)
    return np.matmul(weights, array)

In [129]:
def get_twitter_score(date):
    temp_df = sample_twitter_df[(sample_twitter_df["date"].map(pd.Timestamp.date) == date)]
    print(len(temp_df))
    print(temp_df)
    return temp_df

In [133]:
temp_date = unique_dates[8]
print(temp_date)
get_twitter_score(temp_date)

2022-08-26
24
     Unnamed: 0                   id                      date  \
109          66  1563025758599008256 2022-08-26 04:49:15+00:00
110          65  1563032373549096960 2022-08-26 05:15:32+00:00
111          59  1563065035449978880 2022-08-26 07:25:19+00:00
112          64  1563074338022375425 2022-08-26 08:02:17+00:00
113          63  1563099376087470082 2022-08-26 09:41:46+00:00
114          62  1563126245251883009 2022-08-26 11:28:33+00:00
115          60  1563132035031412737 2022-08-26 11:51:33+00:00
116          61  1563132048369684482 2022-08-26 11:51:36+00:00
117          51  1563141280959725569 2022-08-26 12:28:17+00:00
118          50  1563145203443068928 2022-08-26 12:43:52+00:00
119          53  1563156668086571008 2022-08-26 13:29:26+00:00
120          57  1563158468072460288 2022-08-26 13:36:35+00:00
121          54  1563164456187617281 2022-08-26 14:00:23+00:00
122          58  1563164994782756864 2022-08-26 14:02:31+00:00
123          55  1563170680455446532 2022-08-26 14:25:07+00:00
124          52  1563175913520758785 2022-08-26 14:45:54+00:00
125          56  1563201275109703685 2022-08-26 16:26:41+00:00
126          43  1563237800278757376 2022-08-26 18:51:49+00:00
127          49  1563245774259257345 2022-08-26 19:23:30+00:00
128          45  1563270197816881155 2022-08-26 21:00:33+00:00
129          46  1563275980466073605 2022-08-26 21:23:32+00:00
130          47  1563276879620349954 2022-08-26 21:27:07+00:00
131          48  1563298558090313728 2022-08-26 22:53:15+00:00
132          44  1563299616023400451 2022-08-26 22:57:27+00:00

                                                  text  retweet_count  \
109  #Brazil - Big #banks fund the heavy #machinery...              0
110  There is nothing called as free lunch. Hope th...              0
111  🍀Cinema★Cinema No.100\n🍀 Released on September...              2
112  @AmazonHelp - detected fraud payments from my ...              0
113  @io79011 @Mrwhosetheboss @GyanTherapy @Samsung...              0
114  Amazon has withdrawn from ICC Media Rights Sal...              0
115  Content analysis:\nThis article scores 66/100....              0
116  Electronic Arts Inc. chart on the report of a ...              0
117  Swedish Meatball Report 😂 #Amazon #ElectronicA...              0
118  US pre-market update📰:\n\n📉Stock futures indic...              1
119  🔥 JUST IN: ⚡️ Media report that #Amazon wants ...              0
120  $EA #ElectronicArts Stock Rises on Unconfirmed...              0
121  #Peloton has announced an agreement to sell it...              0
122  Electronic Arts surges 14% on report of sale t...              0
123  EA stock pops on reported Amazon takeover inte...              0
124  Electronic Arts surges 14% on report of sale t...              0
125  CNBC Mocks Report Out of Sweden of #Amazon Eye...              0
126  Check out the work of the @ForUsNotAmazon coal...              3
127  #amazon reportedly isn’t interested of buying ...              0
128  "Amazon has significant and durable market pow...              0
129  RT @Dr_Maha_Hilal: Check out the work of the @...              3
130  RT @Dr_Maha_Hilal: Check out the work of the @...              3
131  Content analysis:\nThis article scores 55/100....              0
132  Report by @theeiu says #BigTech will remain re...              0

     reply_count  like_count  quote_count  negative   neutral  positive
109            0           0            0  0.364475  0.589603  0.045922
110            0           1            0  0.206800  0.506007  0.287193
111            0           7            0  0.056824  0.893072  0.050104
112            1           0            0  0.946396  0.049278  0.004326
113            0           0            0  0.343977  0.576724  0.079299
114            0           0            0  0.151622  0.780028  0.068350
115            0           0            0  0.054677  0.538961  0.406361
116            1           0            0  0.032156  0.866870  0.100974
117            1           2            0  0.054675  0.590330  0.354996
118            0           2            0  0.257116  0.631023  0.111861
119            1           1            0  0.010807  0.525657  0.463536
120            0           0            0  0.030559  0.650941  0.318500
121            1           1            0  0.002620  0.103451  0.893929
122            0           0            0  0.020695  0.487603  0.491702
123            0           0            0  0.004971  0.437304  0.557725
124            0           1            0  0.017833  0.486549  0.495618
125            0           0            0  0.190570  0.725728  0.083702
126            0           4            0  0.000897  0.014840  0.984263
127            0           1            0  0.656603  0.327228  0.016169
128            0           1            0  0.006427  0.127713  0.865860
129            0           0            0  0.021504  0.841897  0.136599
130            0           0            0  0.021504  0.841897  0.136599
131            0           0            0  0.046705  0.486027  0.467268
132            0           4            0  0.003207  0.135822  0.860972

In [223]:
#Make new column "weight" for each row
weight_dict = {"retweet": 2, "reply": 2, "like": 1, "quote":1, "biase": 1}

def add_weights(df):
    df["weight"] = (1*weight_dict["biase"]) + \
                    (df["retweet_count"]*weight_dict["retweet"]) + \
                    (df["reply_count"]*weight_dict["reply"]) + \
                    (df["like_count"]*weight_dict["like"]) + \
                    (df["quote_count"]*weight_dict["quote"])
    return df

In [224]:
sample_twitter_df.shape

(1262, 11)

In [70]:
sample_twitter_df = add_weights(sample_twitter_df)

In [71]:
sample_twitter_df.head(1)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive,weight
0,176,1560378885774229504,2022-08-18 21:31:31+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,0.002239,0.047597,0.950164,81

In [227]:
def multiply_weights(df):
    df["negative"] = df["negative"]*df["weight"]
    df["neutral"] = df["neutral"]*df["weight"]
    df["positive"] = df["positive"]*df["weight"]
    return df

In [230]:
sample_twitter_df = multiply_weights(sample_twitter_df)

In [231]:
sample_twitter_df.head(2)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive,weight
0,176,1560378885774229504,2022-08-18 21:31:31+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,0.181334,3.855365,76.9633,81
1,174,1560381877508362242,2022-08-18 21:43:24+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,0.181334,3.855365,76.9633,81

In [157]:
for date in unique_dates:
    rest = sample_twitter_df[(sample_twitter_df["date"].map(pd.Timestamp.date) <= date)]
    rest = rest.set_index('date')
    day_1 = rest.last("1D")
    week_1 = rest.last("7D")
    month_1 = rest.last("30D")
    year_1 = rest.last("365D")
print("day_1 = ", len(day_1))    
print("week_1 = ", len(week_1))    
print("month_1 = ", len(month_1))    
print("year_1 = ", len(year_1))    
print("rest = ", len(rest))

day_1 =  7
week_1 =  139
month_1 =  511
year_1 =  1262
rest =  1262

In [ ]:
for date in unique_dates:
    rest = sample_twitter_df[(sample_twitter_df["date"].map(pd.Timestamp.date) <= date)]
    rest = rest.set_index('date')
    day_1 = rest.last("1D")
    week_1 = rest.last("7D")
    month_1 = rest.last("30D")
    year_1 = rest.last("365D")

In [162]:
neg = day_1["negative"].sum()
neu = day_1["neutral"].sum()
pos = day_1["positive"].sum()
w = day_1["weight"].sum()
normalized_neg = neg/w
normalized_neu = neu/w
normalized_pos = pos/w

print(normalized_neg)
print(normalized_neu)
print(normalized_pos)
print(normalized_neg + normalized_neu + normalized_pos)# should be near to 1

0.2685601335714286
0.42702096428571423
0.3044189178571428
1.0000000157142857

In [253]:
def get_bin_val(df):
    w = df["weight"].sum()
    neg = df["negative"].sum()
    neu = df["neutral"].sum()
    pos = df["positive"].sum()
    

    normalized_neg = neg/w
    normalized_neu = neu/w
    normalized_pos = pos/w
    
    normalized_neg = neg
    normalized_neu = neu
    normalized_pos = pos
    return [normalized_neg, normalized_neu, normalized_pos]

In [76]:
def add_bins_col(df):
    new_df = df.copy()
    """
    new_df['day_1_neg'] = np.nan
    new_df['day_1_neu'] = np.nan
    new_df['day_1_pos'] = np.nan
    
    new_df['week_1_neg'] = np.nan
    new_df['week_1_neu'] = np.nan
    new_df['week_1_pos'] = np.nan
    
    new_df['month_1_neg'] = np.nan
    new_df['month_1_neu'] = np.nan
    new_df['month_1_pos'] = np.nan
    
    new_df['year_1_neg'] = np.nan
    new_df['year_1_neu'] = np.nan
    new_df['year_1_pos'] = np.nan
    
    new_df['rest_neg'] = np.nan
    new_df['rest_neu'] = np.nan
    new_df['rest_pos'] = np.nan
    """
    
    # return new_df
    
    unique_dates = list(df["date"].map(pd.Timestamp.date).unique())
    additional_features = pd.DataFrame()
    for date in unique_dates:
        rest = sample_twitter_df[(sample_twitter_df["date"].map(pd.Timestamp.date) <= date)]
        rest = rest.set_index('date')
        day_1 = rest.last("1D")
        week_1 = rest.last("7D")
        month_1 = rest.last("30D")
        year_1 = rest.last("365D")
        
        day_1_val = get_bin_val(day_1)
        week_1_val = get_bin_val(week_1)
        month_1_val = get_bin_val(month_1)
        year_1_val = get_bin_val(year_1)
        rest_val = get_bin_val(rest)
        
        day_df_sz = len(day_1.index)
        week_df_sz = len(week_1.index)
        month_df_sz = len(month_1.index)
        year_df_sz = len(year_1.index)
        rest_df_sz = len(rest.index)
        
        additional_features = additional_features.append({"day_1_neg": day_1_val[0],
                                    "day_1_neu": day_1_val[1],
                                    "day_1_pos": day_1_val[2],
                                    "week_1_neg": week_1_val[0],
                                    "week_1_neu": week_1_val[1],
                                    "week_1_pos": week_1_val[2],
                                    "month_1_neg": month_1_val[0],
                                    "month_1_neu": month_1_val[1],
                                    "month_1_pos": month_1_val[2],
                                    "year_1_neg": year_1_val[0],
                                    "year_1_neu": year_1_val[1],
                                    "year_1_pos": year_1_val[2],
                                    "rest_neg": rest_val[0],
                                    "rest_neu": rest_val[1],
                                    "rest_pos": rest_val[2]}, ignore_index=True)
        # print("appended")
        
        """
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'day_1_neg'] = day_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'day_1_neu'] = day_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'day_1_pos'] = day_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'week_1_neg'] = week_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'week_1_neu'] = week_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'week_1_pos'] = week_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'month_1_neg'] = month_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'month_1_neu'] = month_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'month_1_pos'] = month_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'year_1_neg'] = year_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'year_1_neu'] = year_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'year_1_pos'] = year_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'rest_neg'] = rest_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'rest_neu'] = rest_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'rest_pos'] = rest_val[2]
        """
    # return additional_features
    new_df = pd.concat([new_df, additional_features.reindex(new_df.index)], axis=1)
    return new_df

In [176]:
sample_twitter_df.head(1)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,positive,weight
0,176,1560378885774229504,2022-08-18 21:31:31+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,14.688035,312.284593,6234.027316,81

# Sand box

In [105]:
#Sand box for debugging the problem in add_bins_col and get_bin_val
unique_dates = list(sample_twitter_df["date"].map(pd.Timestamp.date).unique())
date = unique_dates[29]
rest = sample_twitter_df[(sample_twitter_df["date"].map(pd.Timestamp.date) <= date)]
rest = rest.set_index('date')
day_1 = rest.last("1D")
week_1 = rest.last("7D")
month_1 = rest.last("30D")
year_1 = rest.last("365D")

print(day_1.shape)
print(week_1.shape)
print(month_1.shape)
print(year_1.shape)
print(rest.shape)


day_1_val = get_bin_val(day_1)
# day_1_val = [x / len(day_1.index) for x in day_1_val]
print("........day_1_val")
print(sum(day_1_val));
print(sum(day_1_val)/13)
week_1_val = get_bin_val(week_1)
print("........week_1_val")
print(sum(week_1_val))
print(sum(week_1_val)/827)

month_1_val = get_bin_val(month_1)
print("........month_1_val")
print(month_1_val)
year_1_val = get_bin_val(year_1)
print("........year_1_val")
print(year_1_val)
rest_val = get_bin_val(rest)
print("........rest_val")
print(rest_val)

(13, 11)
(79, 11)
(444, 11)
(444, 11)
(444, 11)
........day_1_val
13.000000284299999
1.0000000218692306
........week_1_val
79.000000249
0.09552599788270857
........month_1_val
[74.26460408926, 199.00374370199998, 170.7316529903]
........year_1_val
[74.26460408926, 199.00374370199998, 170.7316529903]
........rest_val
[74.26460408926, 199.00374370199998, 170.7316529903]

In [77]:
add_bins_col(sample_twitter_df)

,Unnamed: 0,id,date,text,retweet_count,reply_count,like_count,quote_count,negative,neutral,...,week_1_pos,month_1_neg,month_1_neu,month_1_pos,year_1_neg,year_1_neu,year_1_pos,rest_neg,rest_neu,rest_pos
0,176,1560378885774229504,2022-08-18 21:31:31+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,0.002239,0.047597,...,2.414148,0.009172,0.576680,2.414148,0.009172,0.576680,2.414148,0.009172,0.576680,2.414148
1,174,1560381877508362242,2022-08-18 21:43:24+00:00,"RT @Your_In8_Power: ""Levine offers a solidly c...",40,0,0,0,0.002239,0.047597,...,21.480387,1.237059,5.282553,21.480387,1.237059,5.282553,21.480387,1.237059,5.282553,21.480387
2,173,1560405547471343618,2022-08-18 23:17:28+00:00,Report outlines emerging technologies to impro...,0,0,2,0,0.004695,0.481486,...,30.740914,2.626941,7.632144,30.740914,2.626941,7.632144,30.740914,2.626941,7.632144,30.740914
3,172,1560420323161432064,2022-08-19 00:16:10+00:00,The report anticipates that third-party sales ...,0,0,0,0,0.002067,0.122583,...,34.676243,3.492271,11.831486,34.676243,3.492271,11.831486,34.676243,3.492271,11.831486,34.676243
4,170,1560440692962459649,2022-08-19 01:37:07+00:00,"RT @RichardILevine: ""Levine offers a solidly c...",1,0,0,0,0.002239,0.047597,...,40.282869,5.505043,17.212087,40.282869,5.505043,17.212087,40.282869,5.505043,17.212087,40.282869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,4,1586726336143450114,2022-10-30 14:26:53+00:00,Content analysis:\nThis article scores 83/100....,0,0,0,0,0.050801,0.483906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1258,3,1586750531699187712,2022-10-30 16:03:01+00:00,Amazon’s High Attrition Could Cost $8Bn Annual...,0,0,0,0,0.670433,0.294523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1259,2,1586782255988473856,2022-10-30 18:09:05+00:00,@Channel4News report from #Brasil - come on @L...,0,0,0,0,0.627332,0.289697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1260,1,1586827411630465030,2022-10-30 21:08:31+00:00,Content analysis:\nThis article scores 80/100....,0,0,0,0,0.030669,0.431134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1261,0,1586844673208885249,2022-10-30 22:17:06+00:00,Content analysis:\nThis article scores 83/100....,0,0,0,0,0.059615,0.546852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
sample_twitter_df.tail(1)

Empty DataFrame
Columns: []
Index: []

# more defined function which just takes raw dataframe and adds bins in it

In [127]:
weight_dict = {"retweet": 2, "reply": 2, "like": 1, "quote":1, "biase": 1}

def add_weights(df):
    df["weight"] = (1*weight_dict["biase"]) + \
                    (df["retweet_count"]*weight_dict["retweet"]) + \
                    (df["reply_count"]*weight_dict["reply"]) + \
                    (df["like_count"]*weight_dict["like"]) + \
                    (df["quote_count"]*weight_dict["quote"])
    return df


def multiply_weights(df):
    df["negative"] = df["negative"]*df["weight"]
    df["neutral"] = df["neutral"]*df["weight"]
    df["positive"] = df["positive"]*df["weight"]
    return df


def get_bin_val(df):
    w = df["weight"].sum()
    neg = df["negative"].sum()
    neu = df["neutral"].sum()
    pos = df["positive"].sum()
    

    normalized_neg = neg/w
    normalized_neu = neu/w
    normalized_pos = pos/w
    return [normalized_neg, normalized_neu, normalized_pos]

def add_bins_col(df):
    new_df = df.copy()
    """
    new_df['day_1_neg'] = np.nan
    new_df['day_1_neu'] = np.nan
    new_df['day_1_pos'] = np.nan
    
    new_df['week_1_neg'] = np.nan
    new_df['week_1_neu'] = np.nan
    new_df['week_1_pos'] = np.nan
    
    new_df['month_1_neg'] = np.nan
    new_df['month_1_neu'] = np.nan
    new_df['month_1_pos'] = np.nan
    
    new_df['year_1_neg'] = np.nan
    new_df['year_1_neu'] = np.nan
    new_df['year_1_pos'] = np.nan
    
    new_df['rest_neg'] = np.nan
    new_df['rest_neu'] = np.nan
    new_df['rest_pos'] = np.nan
    """
    # return new_df
    
    unique_dates = list(df["date"].map(pd.Timestamp.date).unique())
    index = 0
    level = 0
    additional_features = pd.DataFrame()
    for date in unique_dates:
        if(index>1000):
            index = 0
            level += 1
            print((1000*level)/len(unique_dates))
        index += 1
        # print(index)
        rest = df[(df["date"].map(pd.Timestamp.date) <= date)]
        rest = rest.set_index('date')
        # print("one")
        # start = time.process_time()
        day_1 = rest.last("1D")
        week_1 = rest.last("7D")
        month_1 = rest.last("30D")
        year_1 = rest.last("365D")    
        # print(time.process_time() - start)
        
        
        # print("two")
        # start = time.process_time()
        day_1_val = get_bin_val(day_1)
        week_1_val = get_bin_val(week_1)
        month_1_val = get_bin_val(month_1)
        year_1_val = get_bin_val(year_1)
        rest_val = get_bin_val(rest)
        # print(time.process_time() - start)
        
        day_df_sz = len(day_1.index)
        week_df_sz = len(week_1.index)
        month_df_sz = len(month_1.index)
        year_df_sz = len(year_1.index)
        rest_df_sz = len(rest.index)
        
        # print("three")
        # start = time.process_time()
        additional_features = additional_features.append({
                                    "date": date,
                                    "day_1_neg": day_1_val[0],
                                    "day_1_neu": day_1_val[1],
                                    "day_1_pos": day_1_val[2],
                                    "week_1_neg": week_1_val[0],
                                    "week_1_neu": week_1_val[1],
                                    "week_1_pos": week_1_val[2],
                                    "month_1_neg": month_1_val[0],
                                    "month_1_neu": month_1_val[1],
                                    "month_1_pos": month_1_val[2],
                                    "year_1_neg": year_1_val[0],
                                    "year_1_neu": year_1_val[1],
                                    "year_1_pos": year_1_val[2],
                                    "rest_neg": rest_val[0],
                                    "rest_neu": rest_val[1],
                                    "rest_pos": rest_val[2]}, ignore_index=True)
        """
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'day_1_neg'] = day_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'day_1_neu'] = day_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'day_1_pos'] = day_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'week_1_neg'] = week_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'week_1_neu'] = week_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'week_1_pos'] = week_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'month_1_neg'] = month_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'month_1_neu'] = month_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'month_1_pos'] = month_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'year_1_neg'] = year_1_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'year_1_neu'] = year_1_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'year_1_pos'] = year_1_val[2]
        
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'rest_neg'] = rest_val[0]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'rest_neu'] = rest_val[1]
        new_df.loc[(df["date"].map(pd.Timestamp.date) == date), 'rest_pos'] = rest_val[2]
        """
        # print(time.process_time() - start)
    return additional_features
    new_df = pd.concat([new_df, additional_features.reindex(new_df.index)], axis=1)
    return new_df


def final_twitter_columns(df):
    df = df.sort_values(by=['date'], ascending=True)
    df = df.drop_duplicates(subset = ['date', 'text'],keep = 'last').reset_index(drop = True)
    df = add_weights(df)
    df = multiply_weights(df)
    print("finished multiplying weights")
    df = add_bins_col(df)
    return df

In [128]:
final_twitter = final_twitter_columns(frame)

finished multiplying weights
0.40387722132471726
0.8077544426494345

In [129]:
final_twitter.head(1)

,date,day_1_neg,day_1_neu,day_1_pos,week_1_neg,week_1_neu,week_1_pos,month_1_neg,month_1_neu,month_1_pos,year_1_neg,year_1_neu,year_1_pos,rest_neg,rest_neu,rest_pos
0,2015-12-28,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674

In [131]:
final_twitter.to_csv('sentiment_by_date.csv')

In [125]:
temp_frame = frame.copy()
temp_frame = add_weights(temp_frame)
print(get_bin_val(temp_frame))

w ->  21440043
neg ->  122679.10978897219
neu ->  268979.74093637086
pos ->  169425.14993686107
[0.0057219619283866265, 0.01254567171047049, 0.007902276592302594]

In [132]:
#End of twitter data analysis

# Start to deal with the sec data

In [143]:
temp_official_report = official_report.copy()

In [144]:
temp_official_report.tail(1)

      Unnamed: 0       date                           unit  fp  val
7973        7973 2022-10-28  Treasury Stock, Common, Value  Q3  1.0

In [145]:
temp_official_report = temp_official_report.sort_values(by=['date'], ascending=True)

In [146]:
oldest_date = temp_official_report['date'].min()

# minvalue = df['x'].min()
print(oldest_date)

2009-07-24 00:00:00

In [147]:
unique_dates = list(temp_official_report.date.unique())

In [150]:
print(len(unique_dates))

54

In [159]:
new_df_sec = pd.DataFrame()

In [163]:
for date in unique_dates:
    temp_df = temp_official_report[(temp_official_report["date"] == date)]
    unique_units = list(temp_df.unit.unique())
    # print(len(unique_units))
    # print(len(temp_df))
    vals = temp_df['val'].tolist()
    # print(len(vals))
    row_dict = dict(zip(unique_units, vals))
    row_dict["date"] = date
    # print(row_dict)
    new_df_sec = new_df_sec.append(row_dict, ignore_index = True)

In [164]:
new_df_sec.shape

(108, 440)

In [166]:
new_df_sec = new_df_sec.set_index('date')

In [168]:
new_df_sec.head(7)

,"Accounts Receivable, after Allowance for Credit Loss, Current","Interest Paid, Including Capitalized Interest, Operating and Investing Activities","Accumulated Other Comprehensive Income (Loss), Net of Tax",Additional Paid in Capital,Assets,"Assets, Current","Cash and Cash Equivalents, at Carrying Value","Cash and Cash Equivalents, Period Increase (Decrease)",Commitments and Contingencies,"Common Stock, Par or Stated Value Per Share",...,"Marketable Securities, Unrealized Gain (Loss)","Finance Lease, Right-of-Use Asset, before Accumulated Amortization","Employee-related Liabilities, Current","Deferred Tax Liabilities, Investments","Effective Income Tax Rate Reconciliation, Change in Deferred Tax Assets Valuation Allowance, Amount","Effect of Exchange Rate on Cash, Cash Equivalents, Restricted Cash and Restricted Cash Equivalents",Short-term Debt,"Effect of Exchange Rate on Cash, Cash Equivalents, Restricted Cash and Restricted Cash Equivalents, Including Disposal Group and Discontinued Operations","Stockholders' Equity Note, Stock Split, Conversion Ratio","Treasury Stock, Common, Value"
date,,,,,,,,,,,,,,,,,,,,,
2009-07-24,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-10-23,0.148973,0.000000,-0.396552,0.024763,0.168990,0.200792,0.298554,1.459574,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-29,0.472429,15.000000,0.600000,0.295393,0.539568,0.538232,0.369928,0.167820,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-04-23,-0.175101,NaN,1.589286,0.026325,-0.128213,-0.187098,-0.464576,-3.370370,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-23,-0.012270,-0.906250,0.944828,0.028707,0.029480,0.019337,-0.116594,-0.865625,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-22,0.191304,0.000000,-0.535461,0.026255,0.142373,0.177507,-0.055249,-0.581395,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-28,0.654849,2.666667,0.450382,0.017699,0.327284,0.438121,1.454191,-4.700000,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
new_df_sec.to_csv('sec_final.csv')

<div class="alert alert-info">Now Combining all the data we made</div>
<!-- <div class="alert alert-success">Example text highlighted in green background.</div> -->
<!-- <div class="alert alert-warning">Example text highlighted in yellow background.</div> -->
<!-- <div class="alert alert-danger">Example text highlighted in red background.</div> -->

In [188]:
stock = pd.read_csv('final data/AMZN.csv')
sec_data = pd.read_csv('final data/sec_final.csv')
twitter_sentiment = pd.read_csv('final data/sentiment_by_date.csv')
# stocks = pd.read_csv('data/stock_price_yahoo/AMZN.csv')

In [189]:
stock.shape

(6407, 7)

In [190]:
sec_data.shape

(108, 440)

In [191]:
twitter_sentiment.shape

(2476, 17)

In [192]:
print(stock.Date[0])
print(sec_data.date[0])
print(twitter_sentiment.date[0])

1997-05-15
2009-07-24
2015-12-28

In [193]:
stock['Date'] =  pd.to_datetime(stock['Date'], format='%Y-%m-%d')
sec_data['date'] =  pd.to_datetime(sec_data['date'], format='%Y-%m-%d')
twitter_sentiment['date'] =  pd.to_datetime(twitter_sentiment['date'], format='%Y-%m-%d')

In [194]:
print(stock.Date[0])
print(sec_data.date[0])
print(twitter_sentiment.date[0])

1997-05-15 00:00:00
2009-07-24 00:00:00
2015-12-28 00:00:00

In [195]:
stock = stock.sort_values(by=['Date'], ascending=True)
sec_data = sec_data.sort_values(by=['date'], ascending=True)
twitter_sentiment = twitter_sentiment.sort_values(by=['date'], ascending=True)

In [197]:
unique_dates = list(stock.Date.unique())

In [198]:
unique_dates.sort()

In [301]:
new_df = pd.DataFrame()

In [303]:
counter = 0

for date in unique_dates:
    
    temp_twitter_sentiment = twitter_sentiment[(twitter_sentiment["date"] <= date)]
    if(len(temp_twitter_sentiment)==0):
        continue
        
    temp_sec_data = sec_data[(sec_data["date"] <= date)]
    if(len(temp_sec_data)==0):
        continue
        
    temp_stock = stock[(stock["Date"] <= date)]
    if(len(temp_stock)==0):
        continue
    
    # print("date -> ", date)
    counter+=1
    
    twitter_date = max(temp_twitter_sentiment["date"].to_list())
    sec_date = max(temp_sec_data["date"].to_list())
    stock_date = max(temp_stock["Date"].to_list())
    
    
    
    
    
    
#     print("twitter_date -> ", twitter_date)
#     print("sec_date -> ", sec_date)
#     print("stock_date -> ", stock_date)
    
    
    
    df1 = twitter_sentiment[(twitter_sentiment["date"] == twitter_date)]
    df2 = sec_data[(sec_data["date"] == sec_date)]
    df3 = stock[(stock["Date"] == stock_date)]
    df2 = df2.drop_duplicates()
    
    
    df2 = df2.drop('date', axis=1)
    df1 = df1.drop('date', axis=1)
    df1["Date"] = stock_date
    df2["Date"] = stock_date
    df2 = df2.set_index("Date")
    df1 = df1.set_index("Date")
    df3 = df3.set_index("Date")
    
    
    # df1 = df1.reset_index(drop=True)
    # df2 = df2.reset_index(drop=True)
    # df3 = df3.reset_index(drop=True)
    # print(df2.shape)
    # print(df3.shape)
    
    
    result = pd.concat([df1, df2, df3], axis=1, join="inner")
    # new_df = pd.concat([new_df, result])
    temp = result.to_dict(orient='records')
    temp[0]["Date"] = stock_date
    new_df = new_df.append(temp[0], ignore_index = True)
#     break
#     frames = [new_df, result]

#     new_df = pd.concat(frames, axis=0, join="inner")
#     if(counter>3):
#         break

In [273]:
df1.head()

,Unnamed: 0,day_1_neg,day_1_neu,day_1_pos,week_1_neg,week_1_neu,week_1_pos,month_1_neg,month_1_neu,month_1_pos,year_1_neg,year_1_neu,year_1_pos,rest_neg,rest_neu,rest_pos
Date,,,,,,,,,,,,,,,,
2015-12-28,0,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674

In [274]:
df2.head(1)

,"Accounts Receivable, after Allowance for Credit Loss, Current","Interest Paid, Including Capitalized Interest, Operating and Investing Activities","Accumulated Other Comprehensive Income (Loss), Net of Tax",Additional Paid in Capital,Assets,"Assets, Current","Cash and Cash Equivalents, at Carrying Value","Cash and Cash Equivalents, Period Increase (Decrease)",Commitments and Contingencies,"Common Stock, Par or Stated Value Per Share",...,"Marketable Securities, Unrealized Gain (Loss)","Finance Lease, Right-of-Use Asset, before Accumulated Amortization","Employee-related Liabilities, Current","Deferred Tax Liabilities, Investments","Effective Income Tax Rate Reconciliation, Change in Deferred Tax Assets Valuation Allowance, Amount","Effect of Exchange Rate on Cash, Cash Equivalents, Restricted Cash and Restricted Cash Equivalents",Short-term Debt,"Effect of Exchange Rate on Cash, Cash Equivalents, Restricted Cash and Restricted Cash Equivalents, Including Disposal Group and Discontinued Operations","Stockholders' Equity Note, Stock Split, Conversion Ratio","Treasury Stock, Common, Value"
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-28,0.105691,-0.953947,0.094003,0.052399,0.072273,0.093138,0.042847,12.75,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [275]:
df3.head()

              Open       High        Low      Close  Adj Close    Volume
Date
2015-12-28  33.278  33.775002  33.275002  33.759998  33.759998  75672000

In [304]:
new_df.shape

(1722, 462)

In [281]:
result.shape

(1, 461)

In [298]:
result.head(3)

,Unnamed: 0,day_1_neg,day_1_neu,day_1_pos,week_1_neg,week_1_neu,week_1_pos,month_1_neg,month_1_neu,month_1_pos,...,Short-term Debt,"Effect of Exchange Rate on Cash, Cash Equivalents, Restricted Cash and Restricted Cash Equivalents, Including Disposal Group and Discontinued Operations","Stockholders' Equity Note, Stock Split, Conversion Ratio","Treasury Stock, Common, Value",Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2022-10-27,2472,0.221323,0.489873,0.288805,0.155012,0.520208,0.32478,0.229989,0.510796,0.259215,...,1.0,1.0,1.0,NaN,113.919998,114.120003,109.769997,110.959999,110.959999,129605400

In [305]:
new_df.head(3)

,Unnamed: 0,day_1_neg,day_1_neu,day_1_pos,week_1_neg,week_1_neu,week_1_pos,month_1_neg,month_1_neu,month_1_pos,...,"Effect of Exchange Rate on Cash, Cash Equivalents, Restricted Cash and Restricted Cash Equivalents, Including Disposal Group and Discontinued Operations","Stockholders' Equity Note, Stock Split, Conversion Ratio","Treasury Stock, Common, Value",Open,High,Low,Close,Adj Close,Volume,Date
0,0,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,...,NaN,NaN,NaN,33.278000,33.775002,33.275002,33.759998,33.759998,75672000,2015-12-28
1,1,0.305011,0.341045,0.353944,0.183309,0.446193,0.370498,0.183309,0.446193,0.370498,...,NaN,NaN,NaN,33.898998,34.821999,33.894501,34.698502,34.698502,114700000,2015-12-29
2,2,0.023656,0.495237,0.481106,0.124489,0.464262,0.411248,0.124489,0.464262,0.411248,...,NaN,NaN,NaN,34.594501,34.774502,34.319000,34.453499,34.453499,70380000,2015-12-30

In [306]:
new_df.set_index("Date")

,Unnamed: 0,day_1_neg,day_1_neu,day_1_pos,week_1_neg,week_1_neu,week_1_pos,month_1_neg,month_1_neu,month_1_pos,...,Short-term Debt,"Effect of Exchange Rate on Cash, Cash Equivalents, Restricted Cash and Restricted Cash Equivalents, Including Disposal Group and Discontinued Operations","Stockholders' Equity Note, Stock Split, Conversion Ratio","Treasury Stock, Common, Value",Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-28,0,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,0.012925,0.593401,0.393674,...,NaN,NaN,NaN,NaN,33.278000,33.775002,33.275002,33.759998,33.759998,75672000
2015-12-29,1,0.305011,0.341045,0.353944,0.183309,0.446193,0.370498,0.183309,0.446193,0.370498,...,NaN,NaN,NaN,NaN,33.898998,34.821999,33.894501,34.698502,34.698502,114700000
2015-12-30,2,0.023656,0.495237,0.481106,0.124489,0.464262,0.411248,0.124489,0.464262,0.411248,...,NaN,NaN,NaN,NaN,34.594501,34.774502,34.319000,34.453499,34.453499,70380000
2015-12-31,3,0.183568,0.503424,0.313008,0.147358,0.479422,0.373220,0.147358,0.479422,0.373220,...,NaN,NaN,NaN,NaN,34.304001,34.387501,33.794498,33.794498,33.794498,74992000
2016-01-04,5,0.081125,0.356928,0.561947,0.147310,0.413868,0.438823,0.131312,0.435241,0.433448,...,NaN,NaN,NaN,NaN,32.814499,32.886002,31.375500,31.849501,31.849501,186290000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-21,2466,0.199972,0.581658,0.218371,0.175915,0.522700,0.301385,0.246392,0.506453,0.247155,...,1.0,1.0,1.0,NaN,114.790001,119.589996,114.500000,119.320000,119.320000,55611900
2022-10-24,2469,0.003193,0.544831,0.451976,0.125043,0.559815,0.315142,0.224007,0.509109,0.266884,...,1.0,1.0,1.0,NaN,119.980003,120.389999,116.570000,119.820000,119.820000,49531500
2022-10-25,2470,0.290564,0.507718,0.201719,0.144838,0.554684,0.300478,0.228403,0.511485,0.260112,...,1.0,1.0,1.0,NaN,119.650002,121.320000,118.949997,120.599998,120.599998,50934600
2022-10-26,2471,0.423866,0.462804,0.113330,0.157855,0.565284,0.276861,0.230118,0.511833,0.258049,...,1.0,1.0,1.0,NaN,116.000000,119.349998,114.760002,115.660004,115.660004,68802300
2022-10-27,2472,0.221323,0.489873,0.288805,0.155012,0.520208,0.324780,0.229989,0.510796,0.259215,...,1.0,1.0,1.0,NaN,113.919998,114.120003,109.769997,110.959999,110.959999,129605400

In [307]:
new_df.to_csv('final_data.csv')

In [288]:
temp

[{'Unnamed: 0': 0,
  'day_1_neg': 0.01292528248,
  'day_1_neu': 0.5934007040000001,
  'day_1_pos': 0.393674056,
  'week_1_neg': 0.01292528248,
  'week_1_neu': 0.5934007040000001,
  'week_1_pos': 0.393674056,
  'month_1_neg': 0.01292528248,
  'month_1_neu': 0.5934007040000001,
  'month_1_pos': 0.393674056,
  'year_1_neg': 0.01292528248,
  'year_1_neu': 0.5934007040000001,
  'year_1_pos': 0.393674056,
  'rest_neg': 0.01292528248,
  'rest_neu': 0.5934007040000001,
  'rest_pos': 0.393674056,
  'Accounts Receivable, after Allowance for Credit Loss, Current': 0.1056910569105691,
  'Interest Paid, Including Capitalized Interest, Operating and Investing Activities': -0.9539473684210528,
  'Accumulated Other Comprehensive Income (Loss), Net of Tax': 0.0940032414910859,
  'Additional Paid in Capital': 0.052399247935911,
  'Assets': 0.0722730739893211,
  'Assets, Current': 0.0931378121329241,
  'Cash and Cash Equivalents, at Carrying Value': 0.0428474048105949,
  'Cash and Cash Equivalents, Period Increase (Decrease)': 12.75,
  'Commitments and Contingencies': nan,
  'Common Stock, Par or Stated Value Per Share': -1.0,
  'Common Stock, Shares Authorized': 0.0,
  'Common Stock, Shares, Outstanding': 0.0021367521367521,
  'Common Stock, Value, Issued': 0.0,
  'Cost of Goods and Services Sold': 0.1052110817941952,
  'Deferred Income Tax Expense (Benefit)': 0.4651162790697674,
  'Deferred Tax Assets, Net of Valuation Allowance, Current': nan,
  'Deferred Tax Assets, Net of Valuation Allowance, Noncurrent': nan,
  'Interest Expense': 0.0175438596491228,
  'Common Stock, Shares, Issued': 0.0020366598778004,
  'Increase (Decrease) in Inventories': 55.92592592592592,
  'Goodwill': 0.0017030939540164,
  'Earnings Per Share, Diluted': -1.0,
  'Effect of Exchange Rate on Cash and Cash Equivalents': -1.6176470588235294,
  'Excess Tax Benefit from Share-based Compensation, Financing Activities': 0.0,
  'Excess Tax Benefit from Share-based Compensation, Operating Activities': 0.0,
  'Gain (Loss) on Sale of Investments': 1.0,
  'General and Administrative Expense': -0.0085653104925053,
  'Income (Loss) from Equity Method Investments': 0.75,
  'Gross Profit': nan,
  'Income (Loss) from Continuing Operations before Equity Method Investments, Income Taxes, Noncontrolling Interest': -0.3176795580110497,
  'Income Tax Expense (Benefit)': -0.3947368421052631,
  'Income Taxes Paid': nan,
  'Increase (Decrease) in Accounts Payable': 4.442359249329758,
  'Increase (Decrease) in Accounts Receivable': nan,
  'Earnings Per Share, Basic': -1.0,
  'Increase (Decrease) in Accrued Liabilities': nan,
  'Payments for Repurchase of Common Stock': nan,
  'Depreciation, Depletion and Amortization, Nonproduction': 0.0631648936170212,
  'Payments to Acquire Investments': nan,
  'Liabilities and Equity': 0.0722730739893211,
  'Liabilities, Current': 0.1147959183673469,
  'Long-term Debt, Excluding Current Maturities': -0.0008484848484848,
  'Marketable Securities, Current': -0.0034833869239013,
  'Marketing Expense': 0.0991304347826086,
  'Net Cash Provided by (Used in) Investing Activities': 0.0007267441860465,
  'Net Cash Provided by (Used in) Operating Activities': 0.3069604406609915,
  'Net Income (Loss) Attributable to Parent': -0.1413043478260869,
  'Nonoperating Income (Expense)': 0.5588235294117647,
  'Operating Expenses': nan,
  'Operating Income (Loss)': -0.125,
  'Other Assets, Noncurrent': 0.0554643912044634,
  'Other Cost and Expense, Operating': -0.1041666666666666,
  'Other Liabilities, Noncurrent': 0.0458284371327849,
  'Inventory, Net': 0.2022757697456492,
  'Other Nonoperating Income (Expense)': -56000001.0,
  'Investment Income, Interest': 0.0833333333333333,
  'Net Cash Provided by (Used in) Financing Activities': 0.0564399421128798,
  'Preferred Stock, Shares Authorized': 0.0,
  'Preferred Stock, Par or Stated Value Per Share': -1.0,
  'Payments to Acquire Businesses and Interest in Affiliates': 12.125,
  'Preferred Stock, Shares Issued': -1.0,
  'Preferred Stock, Shares Outstanding': -1.0,
  'Preferred Stock, Value, Issued': -1.0,
  'Proceeds from (Repayments of) Long-term Debt and Capital Securities': -0.25,
  'Property, Plant and Equipment, Net': 0.0593972996560398,
  'Repayment of Long-term Debt, Long-term Lease Obligation, and Capital Security': nan,
  'Proceeds from Sale, Maturity and Collection of Investments': 1.2234042553191489,
  'Share-based Payment Arrangement, Noncash Expense': -0.0337477797513321,
  "Stockholders' Equity Attributable to Parent": 0.0562542488103331,
  'Treasury Stock, Value': 0.0,
  'Weighted Average Number of Shares Outstanding, Diluted': 0.0042016806722689,
  'Weighted Average Number of Shares Outstanding, Basic': 0.0021413276231263,
  'Payments to Acquire Property, Plant, and Equipment': -0.0148392415498763,
  'Retained Earnings (Accumulated Deficit)': 0.0398185483870967,
  'Accounts Payable, Current': 0.1651198450488257,
  'Accrued Liabilities, Current': 0.0221006808795624,
  'Adjustments to Additional Paid in Capital, Income Tax Benefit from Share-based Compensation': nan,
  'Comprehensive Income (Loss), Net of Tax, Attributable to Parent': -0.9074889867841408,
  'Other Comprehensive Income (Loss), Foreign Currency Transaction and Translation Gain (Loss) Arising During Period, Net of Tax': nan,
  'Other Comprehensive Income (Loss), Unrealized Gain (Loss) on Derivatives Arising During Period, Net of Tax': nan,
  'OCI, Debt Securities, Available-for-Sale, Unrealized Holding Gain (Loss), before Adjustment, after Tax': -1.5,
  'Stock Repurchased During Period, Value': nan,
  'Stock Issued During Period, Value, Acquisitions': nan,
  'Shares Issued, Value, Share-based Payment Arrangement, after Forfeiture': nan,
  'Stock Issued During Period, Value, Stock Options Exercised': nan,
  'Commitments, Fair Value Disclosure': 0.031645955165692,
  'Income Tax Examination, Penalties and Interest Expense': nan,
  'Unrecognized Tax Benefits': 0.0480093676814988,
  'Security Owned and Pledged as Collateral, Fair Value': 0.4226190476190476,
  'Share-based Compensation Arrangement by Share-based Payment Award, Equity Instruments Other than Options, Grants in Period, Weighted Average Grant Date Fair Value': nan,
  'Share-based Compensation Arrangement by Share-based Payment Award, Equity Instruments Other than Options, Nonvested, Number': nan,
  'Share-based Compensation Arrangement by Share-based Payment Award, Equity Instruments Other than Options, Vested in Period': nan,
  'Operating Leases, Rent Expense': 0.0898876404494382,
  'Share-based Compensation Arrangement by Share-based Payment Award, Equity Instruments Other than Options, Grants in Period': nan,
  'Gift Card Liability, Current': nan,
  'Accumulated Depreciation, Depletion and Amortization, Property, Plant, and Equipment': nan,
  'AOCI, Debt Securities, Available-for-sale, Adjustment, after Tax': nan,
  'Amortization of Leased Asset': nan,
  'Available-for-sale Securities, Gross Realized Gains': nan,
  'Capitalized Computer Software, Period Increase (Decrease)': nan,
  'Available-for-sale Securities, Gross Realized Losses': nan,
  'Accumulated Other Comprehensive Income (Loss), Foreign Currency Translation Adjustment, Net of Tax': nan,
  'Current Income Tax Expense (Benefit)': nan,
  'Capital Lease Obligations': nan,
  'Capital Leases, Future Minimum Payments, Present Value of Net Minimum Payments': nan,
  'Common Stock, Capital Shares Reserved for Future Issuance': nan,
  'Capital Lease Obligations, Noncurrent': nan,
  'Long-term Construction Loan, Noncurrent': nan,
  'Costs and Expenses': 0.0981911007438052,
  'Current Foreign Tax Expense (Benefit)': nan,
  'Capital Leases, Future Minimum Payments, Interest Included in Payments': nan,
  'Deferred Foreign Income Tax Expense (Benefit)': nan,
  'Effective Income Tax Rate Reconciliation, State and Local Income Taxes, Percent': nan,
  'Deferred Revenue, Current': 0.1955503512880562,
  'Deferred Tax Assets, Gross': nan,
  'Deferred Tax Assets, Net': nan,
  'Deferred Tax Assets, Net of Valuation Allowance': nan,
  'Deferred Tax Assets, Other': nan,
  'Deferred Tax Assets, Tax Credit Carryforwards': nan,
  'Deferred Tax Assets, Tax Deferred Expense, Compensation and Benefits, Share-based Compensation Cost': nan,
  'Deferred Tax Assets, Valuation Allowance': nan,
  'Deferred Tax Liabilities, Deferred Expense': nan,
  'Deferred Tax Liabilities, Intangible Assets': nan,
  'Depreciation, Depletion and Amortization': nan,
  'Deferred Tax Assets, Tax Deferred Expense': nan,
  'Deferred Tax Assets, Deferred Income': nan,
  'Deferred Revenue, Noncurrent': nan,
  'Effective Income Tax Rate Reconciliation, at Federal Statutory Income Tax Rate, Percent': nan,
  'Effective Income Tax Rate Reconciliation, Change in Deferred Tax Assets Valuation Allowance, Percent': nan,
  'Effective Income Tax Rate Reconciliation, Foreign Income Tax Rate Differential, Percent': nan,
  'Effective Income Tax Rate Reconciliation, Nondeductible Expense, Share-based Payment Arrangement, Percent': nan,
  'Effective Income Tax Rate Reconciliation, Other Adjustments, Percent': nan,
  'Effective Income Tax Rate Reconciliation, Tax Credit, Percent': nan,
  'Capital Lease Obligations, Current': nan,
  'Finite-Lived Intangible Assets, Accumulated Amortization': nan,
  'Finite-Lived Intangible Assets, Gross': nan,
  'Finite-Lived Intangible Assets, Net': nan,
  'Foreign Currency Transaction Gain (Loss), before Tax': nan,
  'Gain (Loss) on Disposition of Property Plant Equipment, Excluding Oil and Gas Property and Timber Property': nan,
  'Effective Income Tax Rate Reconciliation, Percent': nan,
  'Income (Loss) from Continuing Operations before Income Taxes, Domestic': nan,
  'Income (Loss) from Continuing Operations before Income Taxes, Foreign': nan,
  'Income Taxes Paid, Net': 0.2307692307692307,
  'Incremental Common Shares Attributable to Dilutive Effect of Share-based Payment Arrangements': 0.1111111111111111,
  'Goodwill, Translation and Purchase Accounting Adjustments': nan,
  'Marketing and Advertising Expense': nan,
  'Operating Loss Carryforwards': nan,
  'Stock Repurchased During Period, Shares': nan,
  'OCI, Debt Securities, Available-for-Sale, Unrealized Holding Gain (Loss), before Adjustment, Tax': -1.375,
  'Property, Plant and Equipment, Gross': nan,
  'Tax Credit Carryforward, Amount': nan,
  'Unrecognized Tax Benefits, Decrease Resulting from Prior Period Tax Positions': nan,
  'Unrecognized Tax Benefits, Income Tax Penalties and Interest Accrued': nan,
  'Unrecognized Tax Benefits, Income Tax Penalties and Interest Expense': nan,
  'Unrecognized Tax Benefits, Increase Resulting from Current Period Tax Positions': nan,
  'Unrecognized Tax Benefits, Decrease Resulting from Settlements with Taxing Authorities': nan,
  'Unrecognized Tax Benefits that Would Impact Effective Tax Rate': nan,
  'Goodwill, Acquired During Period': 0.0963302752293578,
  'Unrecognized Tax Benefits, Increase Resulting from Prior Period Tax Positions': nan,
  'Share-based Payment Arrangement, Nonvested Award, Cost Not yet Recognized, Amount': -0.03125,
  'Liabilities, Noncurrent': nan,
  'Other Noncash Income (Expense)': 2.111111111111111,
  'Business Acquisition, Pro Forma Net Income (Loss)': 2.9375,
  'Business Combination, Pro Forma Information, Earnings or Loss of Acquiree since Acquisition Date, Actual': -3.689655172413793,
  'Business Acquisition, Pro Forma Revenue': 0.5523919484140816,
  'Business Combination, Pro Forma Information, Revenue of Acquiree since Acquisition Date, Actual': 0.0,
  'Equity Method Investment, Ownership Percentage': nan,
  'Equity Method Investments': nan,
  'Accounts Receivable, Allowance for Credit Loss': nan,
  'Deferred Tax Assets, Operating Loss Carryforwards': nan,
  'Deferred Tax Liabilities, Property, Plant and Equipment': nan,
  'Capitalized Computer Software, Additions': nan,
  'Deferred Tax Liabilities, Other': nan,
  'Foreign Currency Transaction Gain (Loss), Realized': nan,
  'Long-term Debt': -0.0157258904394917,
  'Long-term Debt, Current Maturities': -0.1127879269261318,
  'Long-term Debt, Weighted Average Interest Rate, at Point in Time': -1.0,
  'Marketable Securities, Realized Gain (Loss)': nan,
  'Other Comprehensive Income, Other, Net of Tax': nan,
  'Other Operating Income (Expense), Net': -0.1904761904761904,
  'Property, Plant and Equipment, Additions': nan,
  'Unrecognized Tax Benefits, Reduction Resulting from Lapse of Applicable Statute of Limitations': nan,
  'Contractual Obligation, to be Paid, Year One': 0.1343283582089552,
  'Contractual Obligation, to be Paid, Year Two': 0.1122621564482029,
  'Contractual Obligation, to be Paid, Year Three': 0.2790808999521302,
  'Contractual Obligation, to be Paid, Year Four': 0.0818930041152263,
  'Other Comprehensive Income (Loss), Foreign Currency Translation Adjustment, Tax': 3.0,
  'OCI, Debt Securities, Available-for-Sale, Gain (Loss), after Adjustment and Tax': -1.2857142857142858,
  'OCI, Debt Securities, Available-for-Sale, Gain (Loss), after Adjustment, Tax': nan,
  'Other Comprehensive Income (Loss), Net of Tax': -1.4296296296296296,
  'Capitalized Computer Software, Gross': nan,
  'Contractual Obligation, to be Paid, after Year Five': nan,
  'Contractual Obligation, to be Paid, Year Five': nan,
  'Deferred Tax Assets, Operating Loss Carryforwards, Domestic': nan,
  'Deferred Tax Assets, Operating Loss Carryforwards, Foreign': nan,
  'Finite-Lived Intangible Asset, Expected Amortization, Year One': nan,
  'Finite-Lived Intangible Asset, Expected Amortization, Year Five': nan,
  'Finite-Lived Intangible Asset, Expected Amortization, Year Four': nan,
  'Finite-Lived Intangible Asset, Expected Amortization, Year Three': nan,
  'Finite-Lived Intangible Asset, Expected Amortization, Year Two': nan,
  'Loss Contingency, Damages Sought, Value': nan,
  'Long-Term Debt, Maturity, Year Five': nan,
  'Long-Term Debt, Maturity, Year Two': nan,
  'Long-Term Debt, Maturity, Year Three': nan,
  'Long-Term Debt, Maturity, Year One': nan,
  'Number of Operating Segments': nan,
  'Long-Term Debt, Maturity, after Year Five': nan,
  'Other Liabilities and Deferred Revenue, Noncurrent': nan,
  'Other Long-term Debt': -0.2508305647840531,
  'Undistributed Earnings of Foreign Subsidiaries': nan,
  'Other Comprehensive Income (Loss), Foreign Currency Transaction and Translation Adjustment, Net of Tax': -1.4375,
  'Long-term Debt, Gross': -0.0010787486515641,
  'Income Tax Examination, Estimate of Possible Loss': nan,
  'Other Comprehensive Income (Loss), Reclassification Adjustment from AOCI for Sale of Securities, Tax': 999999.0,
  'Other Comprehensive Income (Loss), Reclassification Adjustment from AOCI for Sale of Securities, Net of Tax': -0.0,
  'Contractual Obligation, to be Paid, Remainder of Fiscal Year': -0.3290697674418604,
  'Increase (Decrease) in Accrued Liabilities and Other Operating Liabilities': -2.108527131782946,
  'Increase (Decrease) in Accounts Receivable and Other Operating Assets': 0.3674418604651163,
  'Increase (Decrease) in Deferred Revenue': 0.2734430923407301,
  'Operating Leases, Future Minimum Payments Due, Next Twelve Months': 0.1196283391405342,
  'Operating Leases, Future Minimum Payments, Due in Four Years': 0.1096774193548387,
  'Operating Leases, Future Minimum Payments, Due in Three Years': 0.0987306064880112,
  'Operating Leases, Future Minimum Payments, Due in Two Years': 0.100250626566416,
  'Operating Leases, Future Minimum Payments, Remainder of Fiscal Year': -0.366,
  'Other Commitment': -0.0482213438735177,
  'Other Commitment, to be Paid, Year Four': -0.0530973451327433,
  'Other Commitment, to be Paid, Year One': 0.3577464788732394,
  'Operating Leases, Future Minimum Payments Due': 0.0678383705650459,
  'Other Commitment, to be Paid, Year Three': 0.1258278145695364,
  'Other Commitment, to be Paid, Remainder of Fiscal Year': -0.2283737024221453,
  'Other Commitment, to be Paid, Year Two': 0.0762331838565022,
  'Unrecorded Unconditional Purchase Obligation, to be Paid, Year One': 0.0877796901893287,
  'Other Tax Expense (Benefit)': -0.0975609756097561,
  'Unrecorded Unconditional Purchase Obligation, to be Paid, Year Four': 0.504950495049505,
  'Recognition of Deferred Revenue': 0.0819542947202521,
  'Unrecorded Unconditional Purchase Obligation': 0.068649885583524,
  'Unrecorded Unconditional Purchase Obligation, to be Paid, Year Three': 0.2138364779874214,
  'Unrecorded Unconditional Purchase Obligation, to be Paid, Year Two': 0.1846153846153846,
  'Unrecorded Unconditional Purchase Obligation, to be Paid, Remainder of Fiscal Year': -0.5827338129496403,
  'Accounts Receivable, Allowance for Credit Loss, Writeoff': nan,
  'Amortization of Intangible Assets': nan,
  'Deferred Tax Liabilities, Net, Noncurrent': nan,
  'Effective Income Tax Rate Reconciliation, Deduction, Qualified Production Activity, Percent': nan,
  'Finite-Lived Intangible Asset, Expected Amortization, after Year Five': nan,
  'Income Tax Examination, Penalties and Interest Accrued': nan,
  'Long-Term Debt, Maturity, Year Four': nan,
  'Accounts Receivable, Credit Loss Expense (Reversal)': nan,
  'Cash, Cash Equivalents, and Short-term Investments': 0.0304978215841725,
  'Loss Contingency, Patents Allegedly Infringed, Number': nan,
  'Business Combination, Consideration Transferred, Liabilities Incurred': nan,
  'Business Combination, Consideration Transferred': 0.1260744985673352,
  'Business Combination, Consideration Transferred, Other': 0.1521739130434782,
  'Business Combination, Recognized Identifiable Assets Acquired and Liabilities Assumed, Deferred Tax Assets Noncurrent': nan,
  'Business Combination, Recognized Identifiable Assets Acquired and Liabilities Assumed, Deferred Tax Liabilities Noncurrent': nan,
  'Business Combination, Recognized Identifiable Assets Acquired and Liabilities Assumed, Property, Plant, and Equipment': nan,
  'Business Combination, Recognized Identifiable Assets Acquired and Liabilities Assumed, Net': nan,
  'Business Combination, Recognized Identifiable Assets Acquired and Liabilities Assumed, Noncurrent Liabilities, Other': nan,
  'Business Combination, Recognized Identifiable Assets Acquired and Liabilities Assumed, Other Noncurrent Assets': nan,
  'Business Combination, Recognized Identifiable Assets Acquired and Liabilities Assumed, Finite-Lived Intangibles': nan,
  'Debt Instrument, Basis Spread on Variable Rate': -1.0,
  'Share-based Payment Arrangement, Nonvested Award, Option, Cost Not yet Recognized, Amount': nan,
  'Antidilutive Securities Excluded from Computation of Earnings Per Share, Amount': 1.25,
  'Line of Credit Facility, Fair Value of Amount Outstanding': -1.0,
  'Line of Credit Facility, Maximum Borrowing Capacity': 0.0,
  'Payments to Acquire Businesses, Net of Cash Acquired': 0.1221122112211221,
  'Capital Leased Assets, Gross': nan,
  'Capital Leases, Future Minimum Payments Due, Next Twelve Months': 0.132183908045977,
  'Effective Income Tax Rate Reconciliation, Nondeductible Expense, Share-based Payment Arrangement, Amount': nan,
  'Capital Leases, Future Minimum Payments Due in Five Years': nan,
  'Capital Leases, Future Minimum Payments Due in Two Years': 0.1805013927576601,
  'Capital Leases, Future Minimum Payments Due Thereafter': nan,
  'Capital Leases, Lessee Balance Sheet, Assets by Major Class, Accumulated Depreciation': nan,
  'Current Federal Tax Expense (Benefit)': nan,
  'Capital Leases, Future Minimum Payments Due in Four Years': 0.3131868131868132,
  'Capital Leases, Future Minimum Payments Due': 0.0631676730143985,
  'Deferred Federal Income Tax Expense (Benefit)': nan,
  'Deferred State and Local Income Tax Expense (Benefit)': nan,
  'Debt Instrument, Unamortized Discount': -0.021505376344086,
  'Capital Leases, Future Minimum Payments Due in Three Years': 0.8655097613882863,
  'Share-based Payment Arrangement, Amount Capitalized': nan,
  'Equity Method Investment, Amount Sold': nan,